{{#poly-component tagName='core-toolbar' elementId='main-header'}}
   {{poly-component tagName='paper-icon-button' elementId='navi-icon' attributeProperties='icon' icon='polymer'}}
   <div flex>cl</div>
{{/poly-component}}

{{poly-component
    tagName = 'paper-calculator-output'
    attributeProperties = 'expression result error'
    expression = outputExpression
    result = outputResult
    error = outputError
}}

